.targetSelector img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  padding: 0.6rem;
  border: 1px solid rgb(125, 84, 237);
  object-fit: cover; /* or 'contain' depending on your vibe */
  border-radius: 4px; /* optional: for a nice look */
  margin: 0.6rem;
}

.targetSelector img:hover {
  transform: scale(1.1);
  border-color: #007bff;
  box-shadow: 0 4px 10px rgba(0, 123, 255, 0.3);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.targetSelector li {
  list-style: none;
}
